
lenonhonor360/.classpath
/lenonhonor360/app/build
lenonhonor360/.gradle/1.12/taskArtifacts/cache.properties.lock
lenonhonor360/.gradle/1.12/taskArtifacts/fileHashes.bin
lenonhonor360/.gradle/1.12/taskArtifacts/taskArtifacts.bin
lenonhonor360/.gradle/1.12/taskArtifacts/fileSnapshots.bin
lenonhonor360/.gradle/1.12/taskArtifacts/fileHashes.bin
lenonhonor360/.idea/workspace.xml
lenonhonor360/.gradle/1.12/taskArtifacts/cache.properties.lock
lenonhonor360/.gradle/1.12/taskArtifacts/fileHashes.bin
lenonhonor360/.idea/vcs.xml
lenonhonor360/.idea/workspace.xml
/lenonhonor360/.gradle
/lenonhonor360/.idea
/motogearcalculator/.gradle
/motogearcalculator/.idea
/motogearcalculator/app/build
/motogearcalculator/build
lenonhonor360/.idea/workspace.xml
lenonhonor360/.gradle/1.12/taskArtifacts/cache.properties.lock
lenonhonor360/.gradle/1.12/taskArtifacts/cache.properties.lock
lenonhonor360/.idea/misc.xml
lenonhonor360/.idea/workspace.xml
*.iml
