<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abcfinancial.android.myiclubonline"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>    
    
    <application
        android:label="MYiCLUBOnline"
        android:theme="@style/AppTheme" >
        
        <!-- Top level activities -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="Forgot Password" >
        </activity>
        <activity 
            android:name=".UserActivity"
 			android:label="MYiCLUBonline" >
 		</activity>        

        <!-- Tab level activities -->
        <activity 
            android:name=".user.AccountActivity"
 			android:label="Account" >
 		</activity>
        <activity 
            android:name=".user.CalendarActivity"
 			android:label="Calendar" >
 		</activity>
        <activity 
            android:name=".user.EventsActivity"
 			android:label="Events" >
 		</activity>
        <activity 
            android:name=".user.BarcodeActivity"
 			android:label="Barcode" >
 		</activity> 

        <!-- Account level activities -->
        <activity 
            android:name=".user.billing.HistoryDatePickerActivity"
 			android:label="History Date Select" >
 		</activity>  		
 		<activity 
            android:name=".user.agreement.AgreementActivity"
 			android:label="Agreement Options" >
 		</activity>
 		<activity 
            android:name=".user.billing.BillingActivity"
 			android:label="Billing Options" >
 		</activity> 
 		<activity 
            android:name=".user.agreement.ClubInfoActivity"
 			android:label="Club Info" >
 		</activity>
 		<activity 
            android:name=".user.classes.PickLocationActivity"
 			android:label="Pick Location" >
 		</activity> 		
 		<activity
            android:name=".user.classes.PickClassActivity"
 			android:label="Pick Class" >
 		</activity> 
 		<activity 
            android:name=".user.classes.PickClassTimeActivity"
 			android:label="Pick Class Time" >
 		</activity> 
 		<activity 
            android:name=".user.classes.ClassEnrollDetailActivity"
 			android:label="Class Enroll Detail" >
 		</activity> 
		<activity 
            android:name=".user.appointments.PickAppointmentActivity"
 			android:label="Pick Appointment" >
 		</activity> 
		<activity 
            android:name=".user.appointments.PickTrainerActivity"
 			android:label="Pick Trainer" >
 		</activity>
		<activity 
            android:name=".user.appointments.PickAppointmentDateActivity"
 			android:label="Pick Appointment Date" >
 		</activity>
 		
 		<!-- Purchase level activities -->
        <activity 
            android:name=".user.purchase.PurchaseActivity"
 			android:label="Purchase Main" >
 		</activity> 
 			 		
 		<!-- Group activities -->
 		<activity 
            android:name=".usergroups.AccountGroupActivity"
 			android:label="Account Group" >
 		</activity> 
 		<activity 
            android:name=".usergroups.CalendarGroupActivity"
 			android:label="Calendar Group" >
 		</activity>
 		<activity 
            android:name=".usergroups.EventsGroupActivity"
 			android:label="Events Group" >
 		</activity> 
 		<activity 
            android:name=".usergroups.BarcodeGroupActivity"
 			android:label="Barcode Group" >
 		</activity>  		
 	</application>
</manifest>